
<div class="main-content mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="challenge-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Você tem problemas no seu inventário</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="#!/challenge" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Ver mais
        </a>
      </div>
    </div>
  </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="challenge-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Problemas após o show</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Depois daquele evento de ontem, tudo parecia que caminhava bem até que ...
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#!/challenge" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Ver mais
          </a>
        </div>
      </div>
    </div>

</div>
