<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--12-col">
    <h1>{{band.name}}</h1>
    {{band.profile}}
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <h3>Attributes</h3>
    <ul class="mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">credit_card</i>
          <span>Money</span>
          <span class="mdl-list__item-text-body">
            You earn money by playing gigs, selling records, merch, and other stuff.
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {{band.cash}}
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">group</i>
          <span>Fans</span>
          <span class="mdl-list__item-text-body">
            Fans can be very anoying, but they are important in keeping your band relevant!
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {{band.fans}}
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">star</i>
          <span>Experience</span>
          <span class="mdl-list__item-text-body">
            Experience comes with time and it helps you dealing with daily decisions and problems.
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {{band.experience}}
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">mic</i>
          <span>Gear</span>
          <span class="mdl-list__item-text-body">
            This represents your band's overall gear quality, it can help you make good gigs!
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {{band.experience}}
        </span>
      </li>
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <musician-list musicians="band.musicians"></musician-list>
  </div>
</section>

<div class="main-content mdl-grid">



</div>
