<h3>Members</h3>
<ul class="demo-list-two mdl-list">
  <li class="mdl-list__item mdl-list__item--two-line" ng-repeat="musician in musicians">
    <a href="#!/musician-profile">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{musician.name}}</span>
      <span class="mdl-list__item-sub-title">{{musician.instrument}}</span>
    </span>
  </a>
  </li>
</ul>
