<fieldset>
  Name: <input type="text" name="name" />
  <style>
  .demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  }
  .demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }
  </style>

<h2>Musicos disponíveis</h2>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#singer-panel" class="mdl-tabs__tab is-active">Singer</a>
      <a href="#guitar-panel" class="mdl-tabs__tab">Guitar</a>
      <a href="#bass-panel" class="mdl-tabs__tab">Bass</a>
      <a href="#drums-panel" class="mdl-tabs__tab">Drums</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="singer-panel">
    <div class="mdl-grid">
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" ng-repeat="musician in availableMusicians">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">{{musician.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{musician.profile}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="availableMusicianSelected(musician)">
            Add to by band!
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="guitar-panel">
    <div class="mdl-grid">
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" ng-repeat="musician in availableMusicians">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">{{musician.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{musician.profile}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="availableMusicianSelected(musician)">
            Add to by band!
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="bass-panel">
    <div class="mdl-grid">
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" ng-repeat="musician in availableMusicians">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">{{musician.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{musician.profile}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="availableMusicianSelected(musician)">
            Add to by band!
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="drums-panel">
    <div class="mdl-grid">
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" ng-repeat="musician in availableMusicians">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">{{musician.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{musician.profile}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="availableMusicianSelected(musician)">
            Add to by band!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div>
    <h2>Músicos escolhidos</h2>
    <span ng-repeat="musician in bandMusicians" class="mdl-chip mdl-chip--contact mdl-chip--deletable">
        <img class="mdl-chip__contact" src="/templates/dashboard/images/user.jpg"></img>
        <span class="mdl-chip__text">{{musician.name}}</span>
        <a class="mdl-chip__action" ng-click="bandMusicianSelected(musician)"><i class="material-icons">cancel</i></a>
    </span>
  </div>
</fieldset>
