.main-content {
  padding: 20px 0;
  /*max-width: 1044px;
  margin-left: auto;
  margin-right: auto;*/
}
.challenge-card-wide {
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
