<div>
  <h2>{{dialog.title}}</h2>
  <div>
    {{dialog.text}}
  </div>
  <div>
    <ul>
      <li ng-repeat="option in dialog.options">
        <a ng-click="respond(option)" href="#">{{option.text}}</a>
      </li>
    </ul>
  </div>
</div>

<ul class="demo-list-three mdl-list">
  <li ng-click="respond(option)" ng-repeat="option in dialog.options" class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{option.text}}</span>
      <span class="mdl-list__item-text-body">
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
</ul>
