<div class="mdl-card mdl-cell mdl-cell--12-col">
  <h3>{{musician.name}}</h3>
  {{musician.profile}}
</div>
<div>

  <h4>{{musician.instrument}}</h4>
  <ul>
    <li>Experience: {{musician.experience}}</li>
    <li>Happiness: {{musician.performance}}</li>
    <li>Gear: {{musician.gear}}</li>
    <li>Temper: {{musician.temper}}</li>
  </ul>
  <h3>Attributes</h3>
  <ul>
    <li>Performance: {{musician.performance}}</li>
    <li>Charisma: {{musician.charisma}}</li>
    <li>Technique: {{musician.technique}}</li>
    <li>Criativity: {{musician.criativity}}</li>
    <li>Attitude: {{musician.attitude}}</li>
    <li>Teamwork: {{musician.teamwork}}</li>
  </ul>
</div>
