

<style>

</style>
<div ng-show="dialog == null">
  <div class="mdl-typography--text-center">
    You have no challenges yet!
  </div>
</div>
<div ng-show="dialog != null" class="main-content mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="challenge-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h2>{{dialog.title}}</h2>
        {{dialog.text}}
      </div>
      <div  ng-repeat="option in dialog.options" class="mdl-card__actions mdl-card--border">
        <a ng-click="respond(option)" href="#!/challenge" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          {{option.text}}
        </a>
      </div>
    </div>
  </div>
</div>
